body .mc-cycle {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

div.mc-image {
  /* NOTE: Mozilla flickers when fading and using 'all', so we have to be specific with what property we want to transition:
	If you are using fading transitions, use 'opacity: */
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  /*If you are using horizontal slide transitions, use the following CSS:
  -webkit-transition: left 1s ease-in-out;
  -moz-transition: left 1s ease-in-out;
  -o-transition: left 1s ease-in-out;
  transition: left 1s ease-in-out;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* maximage */
.maximage-text {
  float: right;
  color: #29295c;
  background-color: #fff;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  padding: 10px;
  margin: 10px;
  font-size: 10px !important;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* body text of Maximage */
.maximage-body {
  float: right;
  color: #29295c;
  background-color: #fff;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  padding: 10px;
  margin: 10px;
  font-size: 24px !important;
  position: fixed;
  top: 100px;
  right: 100px;
}

#text-image {
  color: #29295c;
  height: 75px;
  margin: 30px;
}
.text-image {
  padding: 0;
  margin: 0;
}
.text-image p {
  color: #29295c;
  margin-top: 30px;
  height: 75px;
}

.curtains {
  position: fixed;
  bottom: 50px;
  right: 100px;
}
